body{
    background: black;
    color: white;
}

.Info {
    text-align: center;
    margin: 100px 50px;
    font-family: 'Work Sans', sans-serif;
}

table {
    /* margin: 30px 0; */
}

.tableDiv {
    margin: 30px 0;
}

.text-left {
    position: relative;
}

/* .expanded {
    position: relative;
}

.expanded .expanded-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
} */